<div class="container-80">
<h1> Admin </h1>
<h2>Username: admin@test.com</h2>
<h2>Password: 123456</h2>
<br>
<h1> User 1 </h1>
<h2>Username:  user1@test.com</h2>
<h2>Password: 123456</h2>


<h1>Recorded Demo</h1>
<h2>✓ Create a platform that will allow users to book seats for a movie at a cinema.</h2>
<div class="answer">
  <h3>Step 1: Click the "Book Now!" button of the selected movie</h3>
  <%= image_tag "about/booknow.png" %>
  <h3>Step 2: Select The seat number you want and the time</h3>
  <%= image_tag "about/booked_deat.png" %>
</div>
<hr>
<br>
<h2>✓ Every Cinema can only have 10 seats.</h2>
<h3>* Number of seats are label at the tom.</h3>
<br>
<h2>✓ Seats have time slots for 10AM, 2PM, 6PM and 10PM.</h2>
<h3>* Time slots of seats are assigned the left side</h3>
<br>
<h2>✓ Booked seats should not appear anymore on the available seats for booking.</h2>
<h3>* Booked seats are grayed out</h3>
  <%= image_tag "about/select_movies.png" %>
<br>
<h2>✓ Users need to login to book.</h2>
<br>

<h2>User Registration requires Full name, email, mobile number and password.</h2>
<%= image_tag "about/sign_up.png" %>
<br>

<h2>User Dashboard should see cinemas, movies and seats that they booked.</h2>
<%= image_tag "about/my_booking.png" %>
<br>

<h3> Admin can create a cinema and assign a movie.</h3>
<h2>* From the dashboard you can see the create button on the top left </h2>
<%= image_tag "about/create.png" %>
<%= image_tag "about/create_cinema.png" %>
- Movies are assigned to Cinema. (Movies are under Cinema).

- Admin can see the list of Cinema and the users who booked.

- Admin dashboard landing page should display how many cinemas are registered and how many bookings they got.

</div>