<%= form_with(model: movie) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :cinema_id, style: "display: block" %>
    <%= form.text_field :cinema_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
