<%= link_to "back", root_path %>
<p>
  <h2>Title: <%= @movie.title %></h2>
  <h2>Cinema: <%= @cinema.name %> </h2>
  <h2>Sold Ticket: <%= sold_ticket(@cinema, @movie) %> </h2>
  <h2>Remaining Ticket <%= remaining_ticket(@cinema, @movie) %> </h2>
  
</p>

==========================
<table class="table">
  <tr>
    <th>Time</th>
    <% @seat.each do |s| %>
      <th><%= s.name %></th>
    <% end %>
  </tr>
  <tr>
    <th><p>10 AM</p></th>
    <% @time_10am.each do |s| %>
      <% if logged_in? %>
        <th><%= link_to booked_available(s.ticket.first.user_id), cinema_movie_seat_time_slot_ticket_path(@cinema, @movie, s.seat_id, s.id, s.id ) %></th>
      <% else %>
        <th><%= link_to booked_available(s.ticket.first.user_id), login_path %></th>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <th><p>2 PM</p></th>
    <% @time_2pm.each do |s| %>
     <% if logged_in? %>
        <th><%= link_to booked_available(s.ticket.first.user_id), cinema_movie_seat_time_slot_ticket_path(@cinema, @movie, s.seat_id, s.id, s.id ) %></th>
      <% else %>
        <th><%= link_to booked_available(s.ticket.first.user_id), login_path %></th>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <th><p>6 PM</p></th>
    <% @time_6pm.each do |s| %>
     <% if logged_in? %>
        <th><%= link_to booked_available(s.ticket.first.user_id), cinema_movie_seat_time_slot_ticket_path(@cinema, @movie, s.seat_id, s.id, s.id ) %></th>
      <% else %>
        <th><%= link_to booked_available(s.ticket.first.user_id), login_path %></th>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <th><p>10 PM</p></th>
    <% @time_10pm.each do |s| %>
     <% if logged_in? %>
        <th><%= link_to booked_available(s.ticket.first.user_id), cinema_movie_seat_time_slot_ticket_path(@cinema, @movie, s.seat_id, s.id, s.id ) %></th>
      <% else %>
        <th><%= link_to booked_available(s.ticket.first.user_id), login_path %></th>
      <% end %>
    <% end %>
  </tr>
</table>