

<% if current_user.id === @ticket.user_id %>
  <h1>Cinema: <%= @cinema.name %> </h1>
  <h2>Movie: <%= @cinema.movie_title %> </h2>
  <h2>Seat: <%= @seat.name %> </h2>
  <h2>Time: <%= @time_slot.name  %> </h2>
  <h2>Sold To: <%= available_ticket(@ticket.user_id) %></h2>
<% else %>
    <h1>Cinema: <%= @cinema.name %> </h1>
  <h2>Movie: <%= @cinema.movie_title %> </h2>
  <h2>Seat: <%= @seat.name %> </h2>
  <h2>Time: <%= @time_slot.name  %> </h2>
  <h2>Sold To: Anonymous</h2>
<% end %>