<%= form_with model: [:admin, @cinema] do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :movie_title, style: "display: block" %>
    <%= form.text_field :movie_title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
