<div class="container-80">
  <div class="head">
    <div class="left">
      <h1>All Cinemas</h1>      
    </div>
    
    <div class="center">
      <h1>Cinema: <%= @cinemas.all.count%> </h1>
    </div>

    <div class="create_new">
      <%= link_to new_admin_cinema_path do %>
        <button>Create Cinema</button>
      <% end %>
    </div>

  </div>
  
  <table class="table_cinema table">
    <tr>
      <th>Name</th>
      <th>Ticket Sold</th>
      <th colspan="2">Action</th>
    </tr>
    <% @cinemas.each do |c| %>
    <tr>
      <td><%= link_to c.name, admin_cinema_movies_path(c) %></td>
      <td><%= total_booking_cinema(c.id) %></td>
      <td><%= link_to "Edit", edit_admin_cinema_path(c) %>
      </td>
      <td><%= link_to "Delete", admin_cinema_path(c), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

