<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div >
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :mobile_number %>
      <%= f.text_field :mobile_number %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
  <p>Already have an account?<%= link_to "Log in", login_path %> </p>
</div>
