<div class="header">
 <% unless logged_in? && current_user.admin? %>
   <div class="logo"><%= link_to "Cinema Booking Portal", root_path %> </div>
<% else %>
  <div class="logo"><%= link_to "Dashboard", admin_root_path %> </div>
 <% end %>
 
  <div class="navigation">
    <ul>
      
      <% unless logged_in? && current_user.admin? %>
        <li><%= link_to "Home", root_path %> |  </li>
        <li><%= link_to "about", about_path %> | </li>
      <% end %>
      <% if logged_in? %>
        <% if current_user.user? %>
          <li><%= link_to "My Booking", book_movies_path  %>  | </li>
          <li><%= link_to "All Cinema", cinemas_path  %>  | </li>
        <% elsif current_user.admin? %>
          <li><%# link_to "Dashboard", admin_root_path %>  </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="account">
    <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete %>
      <%= current_user.first_name %>
    <% else %>
      <%= link_to login_path do %>
        <button class=>Login</button>
      <% end %>
      <%= link_to signup_path do %>
        <button class="button singup">Sign up</button>
      <% end %>
    <% end %>
  </div>

</div>